
<section class="container-fluid py-3">
  <h1 class="font-weight-bold text-primary text-center"> Business News..</h1>

  <div class="row">
    <div class="col-md-4 col-lg-4 col-12 " *ngFor="let item of newslist; let i= index; ">
    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
      <div class="row g-0">
        <div class="col-md-4 bgimg">
          <a href="{{item?.url}}" target="blank"> <img src="{{item?.urlToImage}}" class="img-fluid img-responsive" alt="news pic."></a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{item?.title | slice:0:50}}</h5>
            <p class="card-text">{{item?.description | slice:0:100}}.</p>
            <h3 class="card-text"><small class="text-muted"><span class="badge rounded-pill bg-danger">{{item?.publishedAt |date:"short"}}</span></small></h3>
              <a href="{{item?.url}}" target="blank" class="btn btn-primary btn-sm">Read More..</a>
          </div>
        </div>
      </div>
    </div>
    </div>

  </div>
</section>
