/* You can add global styles to this file, and also import other style files */



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bgimgs{
  background-image: url('https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWRtaW58ZW58MHx8MHx8&w=1000&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container{
  width: 50%;
  background-color: whitesmoke;
padding-bottom: 4rem;
  color: black;
  /* align-items: center; */
    border: 7px solid rgb(14, 200, 224);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
