
<section class="container-fluid p-5">

<h2 class="text-primary font-weight-bold text-center py-2">Photo Albums Details..</h2>

<div class="col-md-4" >
<!--
<app-searchbox
  [herop] ="inputval"
  [searhitem] = "searchTerm"></app-searchbox> -->

  <app-search-box
  [value]="queryObject?.search_text"
 (onQuerys)="searchUserByQuery()"
   [placeholderText]="'Search by order No.'"
>
</app-search-box>

<app-search-box
[value]="queryObject?.search_text"
(onQuerys)="searchUserByQuery()"
 [placeholderText]="'Search by order No.'"
>
</app-search-box>

<br/>

 <form class="d-flex">
      <input type="text" class="form-control ms-auto" placeholder="Search Your  Title" name="searchTerm"
    [(ngModel)]="searchTerm" (keyup)="search($any($event.target).value)" />
   </form>

  <select class="form-select" aria-label="Default select example"
   [(ngModel)]="searchTerm"
   *ngIf="hidebox" >
    <option  *ngFor="let s of lists" [value]="s.title">{{s.title}}</option>
  </select>
</div>

<h1 class="text-center">Parents componets ...</h1>

  <div class="row py-3" >
    <div class="col-md-4 col-lg-4 col-12" *ngFor="let item of lists | searchFilter: searchTerm; index as i">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{item.url}}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Album id :- {{item.albumId}}</h3>
          <p class="card-text">  Card title: - {{item.title}}</p>
        </div>
      </div>
    </div>
    <br/>
  <br/>
  </div>


</section>
